.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!media/**
node_modules/**
todo.md
.DS_Store
**/.DS_Store
PRODUCTION_READINESS.md
QUICKSTART.md
smart-phrase.json
.vscodeignore
package-lock.json